.align-top {
    position: absolute;
    top: 10px;
    right: 10px;
  }


  .weather-container{
    display: flex;
    align-items: center;
  }
  .weather-title{
    color:var(--white-color);
  }

  .weather-title::after {
    content: attr(data-hover);
    visibility: hidden;
    color: var(--white-color);
    font-size: 13px;
    background-color: var(--black-color);
    padding: 0.5rem;
    position: relative;
    left: 15px;
  }
  
  .weather-title:hover::after {
    visibility: visible;
  }
  