.todomodal-box {
  background-color: rgba(0, 0, 0, 0.6);
  height: 40%;
  width: 14rem;
  overflow: auto;
  position: absolute;
  bottom: 12%;
  right: 5%;
}
.add-todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  flex-direction: column;
}

.add-todo-btn {
  background-color: var(--primary-color);
  border-radius: 20px;
}

.todo-input-container {
  position: fixed;
  bottom: 50px;
  width: 14rem;
}
.todo-input {
  height: 1.8rem;
  padding: 0.4rem;
  outline: none;
  border: none;
  width: 14rem;
}

.todo-checkbox {
  margin-right: 10px;
  margin-left: 10px;
}

input[type="checkbox"] {
  transform: scale(1.3);
}

.done-todo {
  text-decoration: line-through;
  color: var(--grey-color);
}

.todo-container {
  margin-bottom: 1rem;

}

.edit-icon,.delete-icon{
  margin-top: 0.3rem;
  margin-right: 1rem;
  color: var(--white-color);
  cursor: pointer;
  font-size: 1.2rem;
}


.edit-icon{
  margin-left: 3rem;
}

.update-btn{
  background-color: var(--primary-color);
  margin-top: 0.3rem;
  padding: 0.4rem ;
}

