

.todo-title {
  color: var(--white-color);
  margin-right: 1rem;
  /* position: relative; */
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: var(--white-color);
  cursor: pointer;
}

.todo-title::before {
  content:attr(data-hover);
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  right: 50px;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 0 0.3rem;
  font-size: 14px;
}
.todo-title:hover::before {
  visibility: visible;
}
